<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorized Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style>
      .custom-background {
        background: linear-gradient(
          to left,
          #6356c7,
          #6b00d7,
          #3e00b3,
          #190087,
          #150073
        );
      }
      .button-bg {
        background: #190087;
      }
      .button-bg:hover {
        background-color: #150073;
      }
      .button-active {
        background-color: #3e00b3;
      }
    </style>
    <script>
      function changeButtonColor(button) {
        button.classList.toggle("button-active");
      }
    </script>
  </head>
  <body class="bg-gray-100 flex flex-col h-screen">
    <div
      class="flex flex-row justify-between items-center custom-background p-6"
    >
      <div class="">
        <div class="text-white text-2xl font-bold">ClassCheck</div>
        <div class="text-white">Authorized</div>
      </div>
      <div>
        <button class="mr-5">
          <img src="{{ url_for('static', filename='images/gear.png') }}" />
        </button>
        <button>
          <img src="{{ url_for('static', filename='images/logout.png') }}" />
        </button>
      </div>
    </div>
    <div class="flex flex-row">
      <div
        class="flex flex-col justify-center h-full bg-white md:w-1/4 w-1/3 shadow-lg rounded-lg px-6 my-6 mx-6 md:mb-0 gap-6"
      >
        <button
          class="button-bg text-white font-bold py-3 px-6 rounded-lg"
          onclick="changeButtonColor(this)"
        >
          Add/Remove Student
        </button>
        <button
          class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg"
        >
          Add/Remove Teacher
        </button>
        <button
          class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg"
        >
          Add/Remove Class
        </button>
        <button
          class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg"
        >
          Student/Teacher Class List
        </button>
        <button
          class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg"
        >
          Attendances
        </button>
        <button
          class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg"
        >
          Bulk Data Transfer
        </button>
      </div>
      <div
        class="flex justify-center items-center h-full w-full bg-white shadow-lg rounded-lg p-6 my-6 mr-6 md:mb-0"
      >
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          class="w-1/2"
        />
      </div>
    </div>
  </body>
</html>