<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .custom-background {
        background: linear-gradient(
          to left,
          #6356c7,
          #6b00d7,
          #3e00b3,
          #190087,
          #150073
        );
      }
      .button-bg {
        background: #190087;
      }
      .button-bg:hover {
        background-color: #150073;
      }
      .button-active {
        background-color: #3e00b3;
      }
    </style>
    <script>
      function changeButtonColor(button) {
        button.classList.toggle("button-active");
      }
    </script>
  </head>
  <body class="bg-gray-100 flex flex-col h-screen">
    <div class="flex flex-col justify-between items-left custom-background p-6">
      <div class="text-white text-2xl font-bold">ClassCheck</div>
      <div class="text-white">Teacher</div>
    </div>
    <div class="flex flex-row ">
      <div class="flex flex-col p-6 auto w-full md:space-x-6">
        <div class="bg-white shadow-lg rounded-lg p-6 flex flex-col gap-6">
          <!-- Placeholder for additional content -->
        </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg p-6 flex flex-col gap-6 ml-auto w-full md:w-1/4 w-1/3 my-6 mx-6">
        <button
          class="button-bg text-white font-bold py-3 px-6 rounded-lg"
          onclick="changeButtonColor(this)"
        >
          Start Lesson
        </button>
        <button
          class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg"
        >
          Finish Lesson
        </button>
        <button
          class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg"
        >
          Class Hours
        </button>
      </div>
    </div>
  </body>
</html>
